<ul>
<% @tasks.each do |t| %>
  <li>
    <% if t.completed == true %>
      <i class="far fa-check-circle"></i>
    <% else %>
      <i class="far fa-circle"></i>
    <% end %>
    <%= link_to t.title, task_path(t) %>
  </li>
<% end %>
</ul>