<h1>To-do List</h1>
<ul>
<% @tasks.each do |t| %>
  <li>
    <% if t.completed == true %>
      <i class="fas fa-check-circle"></i>
    <% else %>
      <i class="far fa-circle"></i>
    <% end %>
    <%= link_to t.title, task_path(t) %>
    |
    <%= link_to task_path(t),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </li>
<% end %>
</ul>

<%= link_to new_task_path do %>
  <i class="fas fa-plus-circle"></i> Add a task
<% end %>