<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<% if @task.completed == true %>
  <p>
    <i class="far fa-check-circle"></i>
    This task has been completed!
  </p>
<% else %>
  <p>
    <i class="far fa-circle"></i>
    This task is not yet complete
  </p>
<% end %>
<%= link_to 'Edit task', edit_task_path %>
<%= link_to 'Back to tasks', tasks_path %>